*, *:before, *:after { box-sizing: border-box; }

:root{
  --xpgreen: #00943f;
}

body {
    /* cursor: url("images/tinyspade.png") 0 31, crosshair; */
    color: #000;
    background-color: #eee;
    font-family: Arial Narrow, Times, sans-serif;
    font-size: 18px;
    margin: 0;
}

h1{
  position: fixed;
  top:0;
  font-size: 1.2em;
  font-weight: normal;
  margin-left: 10px;
}

/* PHOTOWALL */

#photowall{
  width: 80vw;
  left:10vw;
  position: relative;
  z-index: -2;
}
#photolabel{
  position: fixed;
  bottom: 10px;
}
#photocheck{
  position: fixed;
  bottom: 10px;
  left: 80px;
}

figure {
  z-index: -2;
  /* display: block; */
  position: relative;
  width: fit-content;
  color: black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  padding: 5px;
  margin: 5px;
}

/* FAMILY TOGGLES */
ul{
  position: fixed;
  top: 50px;
  padding: 0;
  text-decoration: none;
  list-style: none;
  margin-left: 0;
}
label{
  margin-left: 10px;
}
label:hover{
  color: var(--xpgreen);
  cursor: crosshair;
}

.family input{
	opacity: 1;
	height: auto;
	width: auto;
}

.family:checked ~ .things{
	display: block;
	visibility: visible;
}

.things {
	display: none;
	visibility: visible;
}

/* THE THINGS */

.thing {
	position: fixed;
	/* width: 100px; */
	/* display:none; */
}

.thing:hover {
	filter: drop-shadow(2px 2px 5px #2F2);
}

/* THE CARDS */

.card {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
	visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.card:target {
		visibility: visible;
    opacity: 1;
    pointer-events: auto;
	}
a.back {
	display: block;
	height: 100vh;
	width: 100vw;
}

.card > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: rgb(0,255,0);
		border: 0 0 0 20px white;
}

.card-close {
  color: #000;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.card-close:hover{
  color: var(--xpgreen);
}

.card-image{
	width: 200px;
	height: auto;
	display: block;
	margin: auto;
}

.card h2 {
	font-size: 1.8em;
  font-weight: bold;
	text-transform: capitalize;
	text-align: left;
}

h3 {
	font-size: 0.8em;
	font-weight: 100;
	text-align: left;
  font-style: italic;
	/* text-transform: uppercase; */
	/* letter-spacing: 0.1em; */
	}


p	{
}

/* PLANTS */

.plant{
  position: fixed;
  background-blend-mode: lighten; 
}

.plant:hover{
  filter: drop-shadow(2px 2px 5px #2F2);
  background-blend-mode: darken;
}
.plant .full{
  /* display: none; */
  visibility: hidden;
}

.plant:hover .full {
  filter: drop-shadow(2px 2px 5px #2F2);
  display: block;
  visibility: visible;
}
